<div class="row animated fadeIn">
    <div class="col">
        <table class="table table-dark table-striped puntero">
            <thead>
                <tr>
                    <th scope="col">#Articulo</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">valor</th>
                    <th scope="col">Fecha de compra</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td><img src="../../../assets/img/mouse.jpg" class="img-thumb" alt="..."></td>
                    <td>12-05-2021</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td><img src="../../../assets/img/pc.jpg" class="img-thumb" alt="..."></td>
                    <td>12-05-2021</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                    <td><img src="../../../assets/img/teclado.jpg" class="img-thumb" width="60" alt="..."></td>
                    <td>12-05-2021</td>
                    <tr>
                        <th scope="row">4</th>
                        <td colspan="2">Larry the Bird</td>
                        <td><img src="../../../assets/img/pc.jpg" class="img-thumb" alt="..."></td>
                        <td>12-05-2021</td>
                    </tr>

            </tbody>
        </table>
    </div>
</div>