<div class="row animated fadeIn">
    <div class="col">
        <table class="table table-dark table-striped puntero">
            <thead>
                <tr>
                    <th scope="col">#Articulo</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Precio</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td><img src="../../../assets/img/mouse.jpg" class="img-thumb" alt="..."></td>
                    <td><i class="fas fa-trash trash"></i></td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td><img src="../../../assets/img/pc.jpg" class="img-thumb" alt="..."></td>
                    <td><i class="fas fa-trash trash"></i></td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                    <td><img src="../../../assets/img/teclado.jpg" class="img-thumb" width="60" alt="..."></td>
                    <td><i class="fas fa-trash trash"></i></td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td colspan="2">Larry the Bird</td>
                    <td><img src="../../../assets/img/pc.jpg" class="img-thumb" alt="..."></td>
                    <td><i class="fas fa-trash trash"></i></td>
                </tr>

            </tbody>
        </table>
        <button type="button" href="#" class="btn btn-danger col-4 ">Eliminar carrito</button>
    </div>
    <div class="col-3">
        <div class="card bg-danger puntero">
            <div class="card-body">
                <h1 class="card-title text-center text-white font-weight-bold">Cantidad de articulos</h1>
                <h1 class="card-text text-white text-center"><i class="fas fa-shopping-bag"></i> 5</h1>
            </div>
        </div>
        <div class="card mt-3 bg-success puntero">
            <div class="card-body">
                <h1 class="card-title text-center text-white font-weight-bold">Costo total</h1>
                <h1 class="card-text text-white text-center"><i class="fas fa-dollar-sign"></i>15000</h1>
                <div class="d-flex justify-content-center">
                    <button type="button" href="#" class="btn btn-dark ">Finalizar Compra</button>
                </div>
            </div>
        </div>
    </div>
</div>